@keyframes firstLoremAnim {
    0%{
        transform:rotateX(90deg)
    }
    100%{
        transform:rotateX(0deg)
    }
}


#rich{
    height: 510px;
    background-color: #F0F0F0;
    .container{
        .col-md-3{
            padding-top: 42px;
            .rich-list{
                height: 137px;
                width: 313px;
                //background-color: #1AC6FF;
                background-color: #F0F0F0;
                border-radius: 10px;
                padding-top: 20px;
                padding-left: 20px;
                p{
                    font-weight: 900;
                    color: #1AC6FF;
                    font-size: 17px;
                }
                h4{
                    font-size: 14px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            .active-rich{
                    background-color: #1AC6FF;
                    p{
                        color:white;
                    }
                
            }
        }
        .col-md-9{
            img{
                animation:firstLoremAnim 1s 1;
                animation-play-state: paused;
                transform-origin:center bottom;
            }
        }
    }
}